.dog {
  height: 100px;
  width: 100px;
  background: url("./img/dogs-walking.png");
  position: absolute;
  animation: moveFowardDog 6s;
  animation-fill-mode: forwards;
  z-index: 8;
}
.dogLaugh {
  height: 100px;
  width: 100px;
  background: url("./img/dogs-dead-ducks.png");
  position: absolute;
  animation: dogLaughing 3000ms;
  animation-fill-mode: both;
  z-index: 2;
}


.dogWin {
	background: url('./img/dogs-stickers.png') no-repeat -48px -354px;
	width: 286px;
	height: 296px;
}

.dogLost {
	background: url('./img/dogs-stickers.png') no-repeat -720px -359px;
	width: 302px;
	height: 287px;
}

@keyframes moveFowardDog {
  0% {
    bottom: 15%;
    left: 0%;
  }

  60% {
    bottom: 15%;
    left: 45%;
  }

  70% {
    bottom: 20%;
    left: 55%;
  }

  90% {
    bottom: 30%;
    left: 60%;
  }
  100% {
    bottom: 30%;
    left: 65%;
  }
}
@keyframes dogLaughing {
  0% {
    top: 75%;
  }
  50% {
    top: 60%;
  }
  100% {
    top: 75%;
  }
}
