html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: linear-gradient(to bottom,#2d91c2 0%,#1e528e 100%);
    overflow: hidden;
    z-index: -1;
  }
    
  .background{
    background-position: bottom;
    background-size: cover;
    bottom: 0;
  }
  
  .container{
    display: flex;
    flex-direction: column;
  }
  
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color: #dd7b7b;

  }
  
  .scoreBoard > div {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #d7d7d7;
    color: #084b6c;
  }

  .scoreBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d7d7d7;
    padding: 10px;
    background-image: url("./img/duck-hunt-grass-back.png");
    z-index: 0;
  }
  
  .score-points {
    margin-top: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }