@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
  overflow: hidden;
  z-index: -1;
  cursor: url("./img/cursor.cur"), auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
}

#board1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

#board2 {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 25%;
  object-fit: cover;
  z-index: 4;
}

.score {
  position: absolute;
  top: 20px;
  left: 90%;
  font-size: 40px;
  font-family: "Lato-Bold", Arial, Helvetica, sans-serif;
  color: green;
  z-index: 2;
}

#bullet1 {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 40px;
  height: 40px;
  z-index: 8;
}

#bullet2 {
  position: absolute;
  left: 7%;
  top: 5%;
  width: 40px;
  height: 40px;
  z-index: 8;
}

#bullet3 {
  position: absolute;
  left: 9%;
  top: 5%;
  width: 40px;
  height: 40px;
  z-index: 8;
}

#liveDuck1 {
  position: absolute;
  bottom: 5%;
  left: 8%;
  width: 40px;
  height: 40px;
  z-index: 8;
}

#liveDuck2 {
  position: absolute;
  bottom: 5%;
  left: 12%;
  width: 40px;
  height: 40px;
  z-index: 8;
}

#liveDuck3 {
  position: absolute;
  bottom: 5%;
  left: 16%;
  width: 40px;
  height: 40px;
  z-index: 8;
}

.bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  z-index: 4;
}

.scoreBoard {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  color: #d7d7d7;
  padding: 10px;
  align-items: center;
}

.score-points {
  margin-top: 0px;
  font-weight: 400;
}

.scoreBoard > div {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #d7d7d7;
  color: #084b6c;
}


.duck-right {
  height: 70px;
  width: 70px;
  background: url("./img/duck-right.png");
  background-position: 70px 70px;
  position: absolute;
  animation: moveRightHorizontal 2s;
  animation-fill-mode: forwards;
}

.duck-left {
  height: 70px;
  width: 70px;
  background: url("./img/duck-right.png");
  background-position: 70px 70px;
  transform: scaleX(-1);
  position: absolute;
  animation: moveLeftHorizontal 2s;
  animation-fill-mode: forwards;
}

.duck-right-top {
  height: 70px;
  width: 70px;
  background: url("./img/duck-right-up.png");
  background-position: 70px 70px;
  position: absolute;
  animation: moveRightDiagonal 2s;
  animation-fill-mode: forwards;
}

.duck-left-top {
  height: 70px;
  width: 70px;
  background: url("./img/duck-right-up.png");
  background-position: 70px 70px;
  position: absolute;
  transform: scaleX(-1);
  animation: moveLeftDiagonal 2s;
  animation-fill-mode: forwards;
}

.duck-dead {
  height: 70px;
  width: 70px;
  background: url("./img/dead-duck.png");
  background-position: 0px 0px;
  position: absolute;
}

/* Ducks movements */

@keyframes moveRightHorizontal {
  0% {
    bottom: 30%;
    left: 0;
  }
  100% {
    bottom: 30%;
    left: 95%;
  }
}

@keyframes moveLeftHorizontal {
  0% {
    bottom: 30%;
    left: 95%;
  }
  100% {
    bottom: 30%;
    left: 0%;
  }
}

@keyframes moveRightDiagonal {
  0% {
    bottom: 30%;
    left: 0;
  }
  100% {
    bottom: 95%;
    left: 95%;
  }
}

@keyframes moveLeftDiagonal {
  0% {
    bottom: 95%;
    left: 95%;
  }
  100% {
    bottom: 30%;
    left: 0%;
  }
}
